In [38]:
import pandas as pd
import numpy as np
df = pd.read_csv('restaurants.csv')

**Сколько в датафрейме колонок с типом float64?**

In [27]:
df.dtypes[df.dtypes == 'float64'].shape[0]

3

**Сколько наблюдений в датафрейме?**

In [28]:
df.shape[0]

784

**Сколько колонок в датафрейме?**

In [30]:
df.shape[1]

7

**Сколько уникальных городов в датафрейме?**

In [31]:
len(df.city_name.unique())

63

**Кол-во ресторанов специализации "Рыба"?**

In [35]:
df[df.specialisation == 'Рыба']['specialisation'].shape[0]

30

**Получить в общем среднее кол-во успешных заказов (ответ округлить до целого).**

In [40]:
np.round(df['successful_orders'].mean())

115

**Город с самым маленьким количеством ресторанов.**

In [78]:
df.city_name.value_counts().sort_values().head()

Ханты-Мансийск    2
Вологда           3
Егорьевск         3
Стерлитамак       3
Йошкар-Ола        3
Name: city_name, dtype: int64

**Сколько ресторанов имеют более 20 неуспешных заказов?**

In [47]:
df[df.fail_orders > 20].shape[0]

10

**Сколько ресторанов имеют более 20 неуспешных заказов и менее 500 успешных заказов?**

In [48]:
df[(df.fail_orders > 20) & (df.successful_orders < 500)].shape[0]

5

**Среднее кол-во успешных заказов в ресторанах со специализацией "Выпечка" (ответ округлить до целого).**

In [51]:
np.round(df[df.specialisation == 'Выпечка'].successful_orders.mean())

13.0

**Какая смециализация имеет самую высокую долю неуспешных заказов (все заказы по конкретному ресторану складываются из успешных, неуспешных заказов и перезаказов)?**

In [54]:
df['total_orders'] = df['fail_orders'] + df['successful_orders'] + df['reorders']
k  = df.groupby('specialisation').fail_orders.sum()/df.groupby('specialisation').total_orders.sum()
k.sort_values(ascending = False)[[0]].index[0]

'Вегетарианское меню'

**Максимальное количество успешных заказов в ресторане для специализации "Бургеры".**

In [63]:
df[df.specialisation == 'Бургеры'].successful_orders.max()

506.0

**Рассчитать среднее кол-во успешных заказов по специализации "Суши" в городе Белгород (ответ округлить до целого).**

In [68]:
df[(df.city_name == 'Белгород') & (df.specialisation == 'Суши')].successful_orders.mean()

328.0

**Какой средний model_score для chain_id 27399 (ответ округлить до 2 знаков после запятой).**

In [76]:
df_2 = pd.read_csv('restaurant_scores.csv', sep = ',')
df = pd.merge(df,df_2,how = 'left', left_on = 'vendor_id', right_on = 'id')
df[df.chain_id == 27399]['model_score'].mean()

0.6126930164173244